 <h1> About Me </h1>
<h2>
<p>Hi, my name is Colleen Que and I am a third year Computer Science Major at Stevens Institute of Technology. I code in Java, Python, C++, C, Javascript, HTML, CSS, and R. </p>

<span>Social Media: </span>
<a target = "_blank" href="https://github.com/ColleenQue"><i class="fa-brands fa-github"></i> </a>

<a target = "_blank" href="https://www.linkedin.com/in/colleen-que-1238841b7/"><i class="fa-brands fa-linkedin"></i></a>

<br>
<span>Email: </span>
<a  href="mailto: quecolleen@gmail.com">quecolleen@gmail.com</a> <span>or</span>
<a  href="mailto: cque1@stevens.edu">cque1@stevens.edu</a>
<br>

</h2>