 <h1> About Me </h1>
<h2>
<p>Hi, my name is Colleen Que and I am a third year Computer Science Major at Stevens Institute of Technology. I code in Java, Python, C++, C, Javascript, HTML, CSS, and R. 

    On top of coding, I am also interested in drawing, listening to audio books (since it gives my eyes a break), and cosmology (so I am minoring in Astronomy). 
    So far, Javascript, HTML, and CSS have been my favorate languages because I get to make my own website with it. I also find C super interesting because it can do so much with the system. </p>

<span>Social Media: </span>
<a target = "_blank" href="https://github.com/ColleenQue"><i class="fa-brands fa-github"></i> </a>

<a target = "_blank" href="https://www.linkedin.com/in/colleen-que-1238841b7/"><i class="fa-brands fa-linkedin"></i></a>

<br>
<span>Email: </span>
<a  href="mailto: quecolleen@gmail.com"><i class="fa-solid fa-envelope"></i> quecolleen@gmail.com</a> <span>or</span>
<a  href="mailto: cque1@stevens.edu"><i class="fa-solid fa-envelope"></i> cque1@stevens.edu</a>
<br>

</h2>