 <div id = "about"><h1> About Me </h1>
<h2>
<p>Hi, my name is Colleen Que and I am a third year Computer Science Major at Stevens Institute of Technology. I code in Java, Python, C++, C, Javascript, HTML, CSS, and R. 

  So far, Javascript, HTML, and CSS have been my favorate languages because I get to make my own website with them. I also find C super interesting because it can do so much with the system. I also minor in Astronomy because I am interested in Cosmology!</p>





<span>Social Media: </span>
<a target = "_blank" href="https://github.com/ColleenQue"><i class="fa-brands fa-github"></i> </a>

<a target = "_blank" href="https://www.linkedin.com/in/colleen-que-1238841b7/"><i class="fa-brands fa-linkedin"></i></a>

<br>
<span>Email: </span>
<a  href="mailto: quecolleen@gmail.com"><i class="fa-solid fa-envelope"></i> quecolleen@gmail.com</a> <span>or</span>
<a  href="mailto: cque1@stevens.edu"><i class="fa-solid fa-envelope"></i> cque1@stevens.edu</a>
<br>

</h2>

<h1>Behind the Scenes</h1>

<h2><a target = "_blank" href="https://www.w3schools.com/css/css_navbar_horizontal.asp">Reference for the top navigation bar</a></h2>
<h2><a target = "_blank" href="https://www.youtube.com/watch?v=Yvz_axxWG4Y&t=1094s&ab_channel=Frankslaboratory">Reference for the animation in home</a></h2>
<h2><a target = "_blank" href="https://stackoverflow.com/questions/61045285/how-do-i-set-dark-mode-theme-across-multiple-pages">Reference1 for Dark Mode</a></h2>
<h2><a target = "_blank" href="https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp">Reference2 for Dark Mode</a></h2>

<h2><a target = "_blank" href="https://github.com/ColleenQue/Colleen-Website">Source Code</a></h2>

</div>