<h1> Welcome To My Art Gallery</h1>
<p>Tool: Procreate on iPad Air 3</p>
<p>Favorite Brushes: Air Spray and Syrup</p>
<p>Referenced: Pinterest</p>

{{#each art}}

<a href = "/public/img/art{{this}}.png" target = "_blank" ><img class="art" src="/public/img/art{{this}}.png" alt="art{{this}}"></a>
{{/each}}

