<h1> This is for Classes and Projects</h1>


<table style="width:100%">
    <tr>
        <th>Class</th>
        <th>Language</th>
        <th>Skills</th>
        <th>Projects</th>
    </tr>
    <tr>
        <td>Intro to Computer Science</td>
        <td>Python</td>
        <td>Basic Skills in Python: Fundamentals, Loops, Recursion, Lists, Tuples etc. </td>
        <td><a target="_blank" href="https://github.com/ColleenQue/python">github</a></td>
    </tr>
    <tr>
        <td>Data Structure</td>
        <td>Java</td>
        <td>Trees, Stacks, Queues, Linked Lists, Run Time Analysis</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>Discrete Structures</td>
        <td>Racket</td>
        <td>Formal Logic, Sets, Relations, Induction, Number Theory, Modular Arithmetic</td>
        <td>NA</td>
    </tr>
</table>