<h1> Classes and Projects</h1>

<h2>School</h2>
<table style="width:100%">
    <tr>
        <th>Class</th>
        <th>Language</th>
        <th>Skills</th>
        <th>Projects</th>
    </tr>
    <tr>
        <td>Intro to Computer Science</td>
        <td>Python</td>
        <td>Basic Skills in Python: Fundamentals, Loops, Recursion, Lists, Tuples etc. </td>
        <td><a target="_blank" href="https://github.com/ColleenQue/python">github-python</a></td>
    </tr>
    <tr>
        <td>Data Structure</td>
        <td>Java</td>
        <td>Trees, Stacks, Queues, Linked Lists, Run Time Analysis</td>
        <td><a target="_blank" href=" https://github.com/ColleenQue/data-structures ">github-data-structures</a></td>
    </tr>
    <tr>
        <td>Discrete Structures</td>
        <td>Racket</td>
        <td>Formal Logic, Sets, Relations, Induction, Number Theory, Modular Arithmetic</td>
        <td>NA</td>
    </tr>

    <tr>
        <td>Algorithms</td>
        <td>C++</td>
        <td>pointers, bitwise operations, graph representations, greedy algorithms etc.</td>
        <td>NA</td>
    </tr>
    <tr>
        <td>Systems Programming</td>
        <td>C, Bash</td>
        <td>void pointers, kernel, bash commands, shell scripting, getopts, function pointers </td>
        <td><a target="_blank" href=" https://github.com/ColleenQue/Systems-Programming">github-systems-programming</a></td>

    </tr>

    <tr>
        <td>Web Programming</td>
        <td>Javascript, CSS, HTML</td>
        <td>MongoDB, API Developmet, Middleware & Authentication, ajax request, routing, xss attacks, async programming </td>
        <td><a target="_blank" href=" https://github.com/LDomadia/c-546-group-19-project/tree/main">Final Project: Digital Closet</a></td>
       
    </tr>
</table>


<h2>Other</h2>
<table style="width:100%">
    <tr>
        <th>Language</th>
        <th>Skills & Description</th>
        <th>Projects</th>
    </tr>
    <tr>
        <td>Roblox Lua</td>
        <td> Making checkpoints, donate script, molding models, inserting tools </td>
        <td><a target="_blank" href="https://www.roblox.com/games/10195293077/Way-To-Sky">Way To Sky</a></td>
    </tr>

    <tr>
        <td>Javascript, HTML, CSS</td>
        <td> MongoDB database, ajax request. Aiming to create a Kpop community. Worked with <a target="_blank"
                href="https://github.com/cindytran211">Cindy</a> and <a target="_blank"
                href="https://github.com/laddhasuneedhi">Suneedhi</a> </td>
        <td><a target="_blank" href="https://wikipop.herokuapp.com/home">Wikipop</a> <br> <a target="_blank"
                href="https://github.com/ColleenQue/wikipop">github- Wikipop</a> </td>
    </tr>
</table>