
<body>


    <!-- page content -->
    <h1 >
        My Story: I Went To The Escape Room
    </h1>


    <main>
        <section>
            <h2>
                Before the Escape Room
            </h2>
            <p>
                My friends and I chose to do an escape room that involves a murder mystery. They wrote "find the killer
                before the killer finds you" on their website. What I thought was that maybe the killer would at some
                point show up
                and chase us and kill us. So I was scared. Then, I asked the workers at the escape room what will happen
                if the killer
                finds us. She said that is when time is up and you would then leave the room. Nobdoy would chase us. I
                thought well That
                destroys the fun, but at least I won't get a heart attack.
            </p>
        </section>

        <section>
            <h2>
                During the Escape Room
            </h2>
            <p>
                We were bad at the escape room and we ended up relying on the clues they gave us. We were always really
                close but we missed pieces of the puzzle.
                At some point, we found a lock that has 5 numbers on it and a morse code machine that only read us 4
                numbers. We then asked for help because we won't
                be able to open the 5 number lock if there are only 4 numbers given. The worker said he is pretty sure
                that there are 4 numbers on the lock. We then said
                we are pretty sure there are 5 numbers on the lock. He asked us whether we are looking at the lock on
                the door. We then realized that there is a
                4 number lock on the door, and we were supposed to put the morse code numbers in that lock. We were
                looking at the wrong lock all along. We are
                so bad at this...
            </p>
        </section>


        <section>
            <h2>
                After the Escape Room
            </h2>
            <p>
                We ended up escaping the room after finding the murderer. Although we don't really know why or how the
                killer killed the victim. We relied very
                heavily on clues, as you can see. After the escape room, we went to taco bell. The cinnamon delights
                were truly delightful. 10/10 Taco Bell!
                That was my first time at Taco Bell too.
            </p>
        </section>



    </main>
</body>

</html>